<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-responsive.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <label for="">
                <label for="">
                    Hola {{nombreCompleto}}
                </label>
                <br>
                <br>
                <label for="">
                    Tienes {{anios}} y tu signo zodiacal es {{signoZodiacal}}
                </label>
                <br>
                <img src="{{url}}" alt="">
                <br>
                <label for="">
                    Calificacion: {{calificacion}}
                </label>
            </label>
        </div>
    </div>
</body>
</html>